<div class="flex-container">
  <div class="row">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          {{title}}
        </mat-card-title>
        <mat-card-subtitle>
          <span>This is a login page designed by Material</span>
        </mat-card-subtitle>
        <img mat-card-avatar src="https://picsum.photos/300/300/?random">
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/300/300/?random">
      <mat-card-content>
        <mat-form-field>
          <input type="text" matInput #userNameInput placeholder="Please input UserName" [(ngModel)]="username">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="mid">
        <button mat-raised-button [disabled]="!userNameInput.value" (click)="completeSetup()">Login</button>
      </mat-card-actions>
      <mat-card-footer align="center">
        Copyright@ Angular Material Learning by SawyerButton
      </mat-card-footer>
    </mat-card>
  </div>
</div>
