<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<h1>{{title}}</h1>-->
<!--<section>-->
<!--<h2>Section 1</h2>-->
<!--<p>^ symbol in package.json will automatically update the package dependency, don't use ^ or ~ symbol in real-world developing</p>-->
<!--</section>-->
<!--<section>-->
<!--<h2>Section 2</h2>-->
<!--<p>Cli generate component: ng g c AxxBxx -> axx-bxx directory using the carmel style</p>-->
<!--<p>Cli production create: ng build &#45;&#45;prod, this will create the file in AOT way, extra create source-map: &#45;&#45;sourceMap</p>-->
<!--<p>Cli test: ng test</p>-->
<!--&lt;!&ndash;Adding a component here&ndash;&gt;-->
<!--<h3>Three Core concepts</h3>-->
<!--<span>Component->Module->Route</span>-->
<!--<section>-->
<!--<p>component tree</p>-->
<!--<p>Unidirectional data flow</p>-->
<!--<p>augury will help you create the component display tree</p>-->
<!--<p>NgModule: Component+Directive+Service+Route</p>-->
<!--<p>lazy-loading == requirement-loading == async loading</p>-->
<!--<p>package volume &#45;&#45;Balance&#45;&#45; quality of request</p>-->
<!--<p>why need router?</p>-->
<!--<p>1. the fallback and forward button can not work anymore</p>-->
<!--<p>2. the url can not be shared</p>-->
<!--<p>Dependency Injection -> claim service in constructor and providers</p>-->
<!--<p>Injector's structure also looks like the component tree</p>-->
<!--<p>Zone.js:listen to all of the object, Rxjs:async and data stream, Immutable Data - Two-way binding</p>-->
<!--<p>UI Library</p>-->
<!--<p>NG-ZORRO</p>-->
<!--<p>ng2-admin</p>-->
<!--<p>Jhipstern for springMVC</p>-->
<!--</section>-->
<!--</section>-->
<!--<section>-->
<!--<h2>Section 3</h2>-->
<!--<p>Angular5.0 -> Angular6.0</p>-->
<!--<p>Compiler optimization</p>-->
<!--<p>SSR server side render - SEO feature -  Angular Universal</p>-->
<!--</section>-->
<!--&lt;!&ndash;<h3>app-user-mng component in using</h3>&ndash;&gt;-->
<!--&lt;!&ndash;<app-user-mng></app-user-mng>&ndash;&gt;-->
<router-outlet></router-outlet>
